<a href="https://colab.research.google.com/github/andrejuniorba/SQL/blob/main/Python_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL com Python**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Import da biblioteca

In [1]:
import sqlite3

# Criar um Banco de Dados

In [3]:
#Criando
conexao = sqlite3.connect('Banco_Dados')

In [4]:
#Apontando (toda vez que for fazer qualquer procedimento no BD vou chamar a variável criada)
cursor = conexao.cursor()

# Criar uma tabela

CREATE TABLE nome (coluna1 datatype, coluna2 datatype, ...)

In [5]:
#Criando a tabela 
cursor.execute(
    'CREATE TABLE Minha_Tabela (Data text, Nome text, Idade real)'
)

#Fazer um commit
conexao.commit()

# Inserir valor na tabela

INSERT INTO nome VALUES (coluna1, coluna2, ...)

In [6]:
#Inserindo valores
cursor.execute(
    'INSERT INTO Minha_Tabela VALUES ("01/01/2022", "André", "40")'
)

In [7]:
#Inserindo mais um
cursor.execute(
    'INSERT INTO Minha_Tabela VALUES ("05/01/2022", "Rosana", "37")'
)

In [18]:
cursor.execute(
    'INSERT INTO Minha_Tabela VALUES ("06/01/2022", "Ana", "10")'
)

# Selecionar Tabela

SELECT*FROM nome 

SELECT coluna1, coluna2, ..., FROM nome

In [19]:
# Consultar tudo
consulta = cursor.execute(
    'SELECT*FROM Minha_Tabela'
).fetchall()

print(consulta)

[('01/01/2022', 'André', 40.0), ('05/01/2022', 'Rosana', 37.0), ('06/01/2022', 'Ana', 10.0)]

In [20]:
# Consulta específica
consulta_especifica = cursor.execute(
    'SELECT Nome, Idade FROM Minha_Tabela'
).fetchall()

print(consulta_especifica )

[('André', 40.0), ('Rosana', 37.0), ('Ana', 10.0)]

In [21]:
for linha in consulta_especifica:
  print(linha)

('André', 40.0)
('Rosana', 37.0)
('Ana', 10.0)

# Filtar registros

SELECT coluna FROM nome WHERE condição

* Igual =

* Maior >

* Menor <

* Maior ou igual >=

* Menor ou igual <=

* Diferente <>

* Entre BETWEEN

* Procurar por padrão LIKE

* Especificar vários valores possíveis para uma coluna IN

In [22]:
filtro_igual = cursor.execute(
    'SELECT*FROM Minha_Tabela WHERE Nome = "Rosana"'
).fetchall()

print(filtro_igual)

[('05/01/2022', 'Rosana', 37.0)]

In [23]:
filtro_maior = cursor.execute(
    'SELECT*FROM Minha_Tabela WHERE Idade < 40'
).fetchall()

print(filtro_maior)

[('05/01/2022', 'Rosana', 37.0), ('06/01/2022', 'Ana', 10.0)]

**BETWEEN (entre)**

In [26]:
filtro_entre = cursor.execute(
    'SELECT*FROM Minha_Tabela WHERE Idade BETWEEN 15 AND 38'
).fetchall()

print(filtro_entre)

[('05/01/2022', 'Rosana', 37.0)]

**LIKE (procurar padrão)**

SELECT*FROM nome WHERE coluna LIKE 'instrução'

* % representa zero, um ou vários caracteres

* _ representa um único caractere

In [28]:
filtro_like = cursor.execute(
    'SELECT*FROM Minha_Tabela WHERE Nome LIKE "%a"'
).fetchall()

print(filtro_like)

[('05/01/2022', 'Rosana', 37.0), ('06/01/2022', 'Ana', 10.0)]

In [37]:
filtro_like1 = cursor.execute(
    'SELECT*FROM Minha_Tabela WHERE Nome LIKE "%é"'
).fetchall()

print(filtro_like1)

[('01/01/2022', 'André', 40.0)]

In [33]:
filtro_like2 = cursor.execute(
    'SELECT*FROM Minha_Tabela WHERE Nome LIKE "r%"'
).fetchall()

print(filtro_like2)

[('05/01/2022', 'Rosana', 37.0)]

**IN (procurar algo muito específico)**

SELECT*FROM nome WHERE coluna IN

In [40]:
filtro_in = cursor.execute(
    'SELECT*FROM Minha_Tabela WHERE Idade IN (10, 37)'
).fetchall()

print(filtro_in)

[('05/01/2022', 'Rosana', 37.0), ('06/01/2022', 'Ana', 10.0)]

In [41]:
filtro_in2 = cursor.execute(
    'SELECT*FROM Minha_Tabela WHERE Nome IN ("Ana")'
).fetchall()

print(filtro_in2)

[('06/01/2022', 'Ana', 10.0)]

# AND, OR, NOT

* AND as duas condições são verdadeiras

* OR uma ou outra condição é verdadeira

* NOT condição não é verdadeira

In [45]:
filtro_and = cursor.execute(
    'SELECT*FROM Minha_Tabela WHERE Idade = 15 AND Nome = "Ana"'
).fetchall()

print(filtro_and )

[]

In [44]:
filtro_or = cursor.execute(
    'SELECT*FROM Minha_Tabela WHERE Idade = 15 OR Nome = "Rosana"'
).fetchall()

print(filtro_or)

[('05/01/2022', 'Rosana', 37.0)]

In [46]:
filtro_not = cursor.execute(
    'SELECT*FROM Minha_Tabela WHERE NOT Idade = 10'
).fetchall()

print(filtro_not)

[('01/01/2022', 'André', 40.0), ('05/01/2022', 'Rosana', 37.0)]